@import "tailwindcss";
@import url("https://static.toss.im/tps/main.css");
@import url("https://static.toss.im/tps/others.css");

* {
  font-family: "Toss Product Sans";
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }

  .animate-custom {
    animation-name: bounce;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    animation-iteration-count: infinite;
  }
}

@theme {
  --text-22: 22px;
  --text-17: 17px;
  --text-15: 15px;
  --text-13: 13px;
  --color-tossgray-900: #191f28;
  --color-tossgray-800: #333d4b;
  --color-tossgray-700: #4e5968;
  --color-tossgray-600: #6b7684;
  --color-tossgray-500: #8b95a1;
  --color-tossgray-400: #f2f4f6;
  --color-tossblue-500: #3182f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Toss Product Sans", Arial, Helvetica, sans-serif;
}
