@import "tailwindcss";
@import url("https://static.toss.im/tps/main.css");
@import url("https://static.toss.im/tps/others.css");

* {
  font-family: "Toss Product Sans", Arial, Helvetica, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* 추가된 스타일 */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 24px;
  overflow: auto;
}

.btn {
  padding: 11px 22px;
  border: none;
  border-radius: 8px;
  background-color: #f2f4f6;
  color: #4e5968;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
}

.btn.primary {
  background-color: #3282f6;
  color: #f9fcff;
}

.confirm-loading {
  margin-top: 72px;
  height: 400px;
  justify-content: space-between;
}

.confirm-success {
  display: none;
  margin-top: 72px;
}

.button-group {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.title {
  margin-top: 32px;
  margin-bottom: 0;
  color: #191f28;
  font-weight: bold;
  font-size: 24px;
}

.description {
  margin-top: 8px;
  color: #4e5968;
  font-size: 17px;
  font-weight: 500;
}

.response-section {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 20px;
}

.response-section .response-label {
  font-weight: 600;
  color: #333d48;
  font-size: 17px;
}

.response-section .response-text {
  font-weight: 500;
  color: #4e5968;
  font-size: 17px;
  padding-left: 16px;
  word-break: break-word;
  text-align: right;
}

@layer utilities {
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }

  .animate-custom {
    animation-name: bounce;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    animation-iteration-count: infinite;
  }

  @keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slide-down {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(100%);
    }
  }

  .animate-slide-up {
    animation-name: slide-up;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
  }

  .animate-slide-down {
    animation-name: slide-down;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
  }
  @keyframes fade-up {
    0% {
      opacity: 0.3;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-up {
    animation-name: fade-up;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    animation-fill-mode: both;
  }
  @keyframes slowVibrate {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-1.5px);
    }
    40% {
      transform: translateX(1.5px);
    }
    60% {
      transform: translateX(-1.5px);
    }
    80% {
      transform: translateX(1.5px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-shake {
    animation-name: slowVibrate;
    animation-duration: 0.2s; /* 필요에 따라 조절 */
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}

@theme {
  --text-22: 22px;
  --text-17: 17px;
  --text-15: 15px;
  --text-13: 13px;
  --color-tossgray-900: #191f28;
  --color-tossgray-800: #333d4b;
  --color-tossgray-700: #4e5968;
  --color-tossgray-600: #6b7684;
  --color-tossgray-500: #8b95a1;
  --color-tossgray-400: #f2f4f6;
  --color-tossgray-300: #b0b8c1;
  --color-tossgray-200: #e5e8eb;
  --color-tossblue-500: #3182f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Toss Product Sans", Arial, Helvetica, sans-serif;
}
